body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo {
    font-family: 'Playfair Display', serif;
}



main {
    flex: 1 0 auto;
    
  }

#top-row {
    background-color: gray;
    display: inline-flexbox;
    margin-top: 40px;
    color: white;
    
    
}

#graph-row {
    background-color: #cfd8dc ;
   
    font-size: 20px;
    text-align: center;
}

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }


#job-listing-row {
    background-color: #cfd8dc ;
 
    font-size: 20px;
    text-align: center;
}

.main-content {
    display: inline-block;
}

.filters {
display: inline-flex;
}