body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo {
    font-family: 'Playfair Display', serif;
}



main {
    flex: 1 0 auto;
    
  }

#top-row {
    background-color: gray;
    margin-top: 40px;
    color: white;
    
    
}

#search-bar {
    width: 100%;
}

#graph-row {
    display: inline-flexbox;
    background-color: #cfd8dc ;
   
    font-size: 20px;
    text-align: center;
}

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }


#job-listing-row {
    background-color: #cfd8dc ;
 
    font-size: 20px;
    text-align: center;
}

.main-content {
    display: inline-block;

}

.filters {
    width: 100%;

}

.go-button {
    align-content: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }